= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put, html: { id: "#{type}-address" }) do |f|
  = fields_for "user[#{type}_address_attributes]", type == :billing ? resource.billing_address : resource.shipping_address do |fa|
    = fa.hidden_field :address_type, value: type
    %h3.general-subtitle.mt-0= t("addresses.#{type}") + ' ' + t('addresses.address')
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.first_name"].any?}"}
      %label.control-label.input-label= t('addresses.first_name')
      = fa.text_field :first_name, placeholder: t('addresses.first_name'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.first_name"].each do |message|
          %li= message
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.last_name"].any?}"}
      %label.control-label.input-label= t('addresses.last_name')
      = fa.text_field :last_name, placeholder: t('addresses.last_name'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.last_name"].each do |message|
          %li= message
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.address"].any?}"}
      %label.control-label.input-label= t('addresses.address')
      = fa.text_field :address, placeholder: t('addresses.address'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.address"].each do |message|
          %li= message
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.city"].any?}"}
      %label.control-label.input-label= t('addresses.city')
      = fa.text_field :city, placeholder: t('addresses.city'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.city"].each do |message|
          %li= message
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.zip"].any?}"}
      %label.control-label.input-label= t('addresses.zip')
      = fa.text_field :zip, placeholder: t('addresses.zip'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.zip"].each do |message|
          %li= message
    .form-group{class: "#{'has-error' if f.object.errors[:"#{type}_address.country"].any?}"}
      %label.control-label.input-label= t('addresses.country')
      = fa.select :country, countries.sort_by(&:name).map { |c| [c.name, c.name] }, { include_blank: true }, { class: 'form-control' }
      %span.help-block
        - f.object.errors[:"#{type}_address.country"].each do |message|
          %li= message
    .form-group.mb-60{class: "#{'has-error' if f.object.errors[:"#{type}_address.phone"].any?}"}
      %label.control-label.input-label{for: "phone"}= t('addresses.phone')
      = fa.telephone_field :phone, placeholder: t('addresses.phone_example'), class: 'form-control'
      %span.help-block
        - f.object.errors[:"#{type}_address.phone"].each do |message|
          %li= message
  .text-center.general-text-align
    %button.btn= t('addresses.save')
