= simple_form_for(address, as: :address, validate: true, remote: true, url: address_path, method: :put, html: { id: "#{type}_address" }) do |f|
  %h3.general-subtitle.mt-00= t("addresses.#{type}_address")
  = render partial: 'addresses/partials/fields', locals: { f: f, type: type }
  = f.button :submit, t('addresses.save')
