.general-cart-item.divider-lg-bottom
  = link_to cart_item_path(id: cart_item.id), method: :delete, 'data-remote': true, class: 'close general-cart-close' do
    %span{'aria-hidden': "true"} &times;
  = link_to book_path(id: cart_item.book.id) do
    .general-img-wrap-table
      %img.cart-img-shadow{src: cart_item.book.title_image.url(:w170), alt: "design-book"}
    %p.title= cart_item.book.title
  %table.table
    %tr
      %td
        %span.in-grey-600= t('cart.price')
      %td
        %span.font-16.in-gold-500 #{t('currency')}#{cart_item.book.price}
    %tr
      %td.vertical-middle
        %span.in-grey-600= t('cart.quantity')
      %td
        .input-group
          = link_to cart_items_path(cart_item: { book_id: cart_item.book.id, count: -1 }), method: :post, 'data-remote': true, class: 'input-link mt-10' do
            %i.fa.fa-minus.line-heaght-40
          %input.form-control.quantity-input{type: "text", value: cart_item.count}
          = link_to cart_items_path(cart_item: { book_id: cart_item.book.id, count: 1 }), method: :post, 'data-remote': true, class: 'input-link  mt-10' do
            %i.fa.fa-plus.line-heaght-40
    %tr
      %td
        %span.in-grey-600= t('cart.subtotal')
      %td
        %span.font-16.in-gold-500 #{t('currency')}#{cart_item.full_price}
