%main.container.general-main-wrap
  .text-center
    %h1.mb-30= t('passwords.forgot_password')
    %p.general-password-text= t('passwords.we_will_email_you')
  %div.general-form
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
      = f.input :email, autocomplete: "email", label: false
      = f.button :submit,  t('passwords.email_instructions'), class: 'center-block'
      .text-center
        %a.in-gold-500.mb-20{href: new_user_session_path}= t('passwords.cancel')
