.row
  .col-md-5.mb-40
    .text-center
      %h3.general-subtitle= t('checkouts.returning_customer')
      %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
        %i.fa.fa-facebook-official.facebook-icon
      %p.general-login-text= t('checkouts.or')
    = simple_form_for(:user, url: session_path(:user), html: { class: 'width-370 center-form' }) do |f|
      .mb-40
        %p.mb-15= t('checkouts.log_in_with_password')
        = f.input :email, required: false, autocomplete: "email"
        = f.input :password, required: false, autocomplete: "current-password", class: 'form-control', hint: link_to(t('checkouts.forgot_password'), new_user_password_path, class: 'in-gold-500')
      = f.button :submit, t('checkouts.log_in_with_password')
  .col-md-5.col-md-offset-1.mb-60
    .text-center
      %h3.general-subtitle= t('checkouts.new_customer')
      %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
        %i.fa.fa-facebook-official.facebook-icon
      %p.general-login-text= t('checkouts.or')
    = simple_form_for(:user, url: quick_registration_path(:user), html: { class: 'width-370 center-form' }) do |f|
      .mb-40
        %p.mb-5= t('checkouts.quick_register')
        %p.general-info-text.font-12.mb-20= t('checkouts.you_will_be_able_to_create_password_later')
        = f.input :email, required: false, autocomplete: "email"
      = f.button :submit, t('checkouts.continue_checkout')
