%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('sessions.sign_in')
    %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
      %i.fa.fa-facebook-official.facebook-icon
    %p.general-login-text= t('sessions.or')
  %div.general-form
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, required: false, autocomplete: "email"
      = f.input :password, autocomplete: "current-password", hint: link_to(t('sessions.forgot_password'), new_user_password_path, class: 'in-gold-500')
      .form-group.checkbox.text-center.mb-30
        - if devise_mapping.rememberable?
          %label.checkbox-label
            = f.check_box :remember_me, class: 'checkbox-input', hidden: true
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('sessions.remember_me')
      .text-center
        = f.button :submit, t('sessions.sign_in')
    %p.general-sign-text.text-center
      = t('sessions.dont_have_an_account')
      %a.in-gold-500{href: new_user_registration_path}= t('sessions.sign_up')
