%main.container
  - if user_signed_in?
    %h1.general-title-margin= t('checkouts.checkout')
    %ul.steps.list-inline
      %li.step{class: ("active" if checkout_presenter.order.addresses?) }
        %span.step-number 1
        %span.step-text.hidden-xs= t('checkouts.addresses.address')
      %li.step-divider
      %li.step{ class: ("active" if checkout_presenter.order.delivery?) }
        %span.step-number 2
        %span.step-text.hidden-xs= t('checkouts.delivery.delivery')
      %li.step-divider
      %li.step{ class: ("active" if checkout_presenter.order.payment?) }
        %span.step-number 3
        %span.step-text.hidden-xs= t('checkouts.payment.payment')
      %li.step-divider
      %li.step{ class: ("active" if checkout_presenter.order.confirm?) }
        %span.step-number 4
        %span.step-text.hidden-xs= t('checkouts.confirm.confirm')
      %li.step-divider
      %li.step{ class: ("active" if checkout_presenter.order.complete?) }
        %span.step-number 5
        %span.step-text.hidden-xs= t('checkouts.complete.complete')
    = render partial: "checkouts/partials/#{@state_view}"
  - else
    = render partial: 'checkouts/partials/auth'
